body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  
a {
  text-decoration: none;
}

.clear {
  clear: left;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  header {
    height: 80px;
    width: 100%;
    background-color:#143b3f;
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
.logo {
    width: 124px;
    margin-top: 5px;
  }
  
.header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 7px 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:none;
   
  }
.top-wrapper {
  height:220px;
  padding: 80px 0 100px 0;
  background-image: url(bg2.png);
  background-size: cover;
  color: white;
  text-align: left;
}

.top-wrapper h1 {
  margin-top:50px;
  opacity: 1;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 0px;
  margin-top: 0;
  
  
}
.btn-wrapper {
  text-align: left;
  margin: 20px 0;
}
.book {
  background-color:#143b3f;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.menu-wrapper{
    padding-top:50px;
    padding-bottom: 170px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

.menu {
  height:130px;
  width:25%;
  float: left;
  
  
  
}

.vehicle {
  background-image:url(icon1dark.png);
  background-size: 130px 130px;
  background-repeat: no-repeat;
  background-position: center;
}
.vehicle:hover { 
  background-image:url(icon1hdark.png);
}
.services {
  background-image:url(icon2.png);
  background-size: 130px 130px;
  background-repeat: no-repeat;
  background-position: center;
}
.services:hover { 
    background-image:url(icon2h.png);
  }
.location {
    background-image:url(icon3.png);
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: center;
  }
.location:hover { 
      background-image:url(icon3h.png);
    }
.contact {
      background-image:url(icon4.png);
      background-size: 130px 130px;
      background-repeat: no-repeat;
      background-position: center;
    }
.contact:hover { 
        background-image:url(icon4h.png);
      }

      footer {
        
        height:60px;
        padding-top: 10px;
        padding-bottom: 40px;
      }
      .footer-right{
        float:right;
        margin-right:-25px;
      }
      .footer-right img {
        width: 125px;
    
      }
      
      .footer-right p {
        margin-top:5px;
        color: #b3aeb5;
        font-size: 12px;
      }
      .footer-left{
        float: left;
      }
      .footer-left img{
        width: 200px;
        height: 100px;
        animation-iteration-count: infinite;
        position: relative;
        animation-name: example;
        animation-duration: 4s;  
        
}
@keyframes example {

  0%   {left:0px; top:0px;}
  100%  {left:200px; top:0px;}



}
